.border
  = form_tag pick_assistant_path, method: :post, id: "hero-form", remote: true do |f|
    .appcontainer.cf
      .side-left.col.cf
        .box.your-team
          %h2 Your Team
          .strategy-selector
            %label= select_tag "composition", options_for_select([["Laning...", "balanced"],["2-1-2", "balanced"], ["Jungling", "jungling"], ["Trilane", "trilane"]])
          .search
            = text_field_tag :text, "", class: 'text-input', id: 'friendly-autocomplete', placeholder: "Add a character...", class: "search"
          .characters.cf
            .character.friendly
              .build
              %label.hero_big
              .name
              = hidden_field_tag "friendlies[]", ""
            .character.friendly
              .build
              %label.hero_big
              .name
              = hidden_field_tag "friendlies[]", ""
            .character.friendly
              .build
              %label.hero_big
              .name
              = hidden_field_tag "friendlies[]", ""
            .character.friendly
              .build
              %label.hero_big
              .name
              = hidden_field_tag "friendlies[]", ""
            .character.dead
              %label.hero_big

        .box.recommendations
          %h2 Recommendations
          %h3 Roles
          .roles
            .needed
              .role.needed-role
                Needed
              .role.needed-role
                Needed
            .filled
              .role.filled-role
                Filled
              .role.filled-role
                Filled
          %h3 We Recommend
          .characters.cf.recommend-these
            .character.recommendation
              .build
              %label.hero_big
              .name
            .character.recommendation
              .build
              %label.hero_big
              .name
            .character.recommendation
              .build
              %label.hero_big
              .name
            .character.recommendation
              .build
              %label.hero_big
              .name
            .character.recommendation
              .build
              %label.hero_big
              .name
          %h3 Avoid
          .characters.cf.avoid-these
            .character.avoid
              .build
              %label.hero_big
              .name
            .character.avoid
              .build
              %label.hero_big
              .name
            .character.avoid
              .build
              %label.hero_big
              .name
            .character.avoid
              .build
              %label.hero_big
              .name
            .character.avoid
              .build
              %label.hero_big
              .name
      .side-right.col.cf
        .box.enemy-team
          %h2 Enemy Team
          .search
            = text_field_tag :text, "", class: 'text-input', id: 'enemy-autocomplete', placeholder: "Add enemy hero...", class: "search"
          .characters.cf
            .character.enemy
              %label.hero_big
              .name
              = hidden_field_tag "enemies[]", ""
            .character.enemy
              %label.hero_big
              .name
              = hidden_field_tag "enemies[]", ""
            .character.enemy
              %label.hero_big
              .name
              = hidden_field_tag "enemies[]", ""
            .character.enemy
              %label.hero_big
              .name
              = hidden_field_tag "enemies[]", ""
            .character.enemy
              %label.hero_big
              .name
              = hidden_field_tag "enemies[]", ""

        .box.bans
          %h2 Bans
          .search
            = text_field_tag :text, "", class: 'text-input', id: 'ban-autocomplete', placeholder: "Add banned hero...", class: "search"
          .characters.bans.cf
            .character.banned
              %label.hero_big
              .name
              = hidden_field_tag "bans[]", ""
            .character.banned
              %label.hero_big
              .name
              = hidden_field_tag "bans[]", ""
            .character.banned
              %label.hero_big
              .name
              = hidden_field_tag "bans[]", ""
            .character.banned
              %label.hero_big
              .name
              = hidden_field_tag "bans[]", ""
            .character.banned
              %label.hero_big
              .name
              = hidden_field_tag "bans[]", ""
            .character.banned
              %label.hero_big
              .name
              = hidden_field_tag "bans[]", ""
            .character.banned
              %label.hero_big
              .name
              = hidden_field_tag "bans[]", ""
            .character.banned
              %label.hero_big
              .name
              = hidden_field_tag "bans[]", ""
            .character.banned
              %label.hero_big
              .name
              = hidden_field_tag "bans[]", ""
            .character.banned
              %label.hero_big
              .name
              = hidden_field_tag "bans[]", ""

          %h3 Recommended Bans
          .characters.cf.ban-these
            .character.ban
              %label.hero_big
              .name
            .character.ban
              %label.hero_big
              .name
            .character.ban
              %label.hero_big
              .name
            .character.ban
              %label.hero_big
              .name
            .character.ban
              %label.hero_big
              .name
