@import mixins

btn-border-color = #1c1d1f

.button-wrapper
  position: absolute
  top: 0
  right: 0

  .btn
    border-top: 1px solid lighten(btn-border-color, 20)
    border-bottom: 1px solid darken(btn-border-color, 50)
    border-left: 1px solid lighten(btn-border-color, 10)
    border-right: 1px solid darken(btn-border-color, 10)
    background: -moz-linear-gradient(top,  #242625 0%, #161719 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#242625), color-stop(100%,#161719))
    background: -webkit-linear-gradient(top,  #242625 0%,#161719 100%)
    background: -o-linear-gradient(top,  #242625 0%,#161719 100%)
    background: -ms-linear-gradient(top,  #242625 0%,#161719 100%)
    background: linear-gradient(to bottom,  #242625 0%,#161719 100%)
    text-decoration: none
    float: left

    &:hover, &:active
      background: dota-red /* Old browsers */
      background: -moz-linear-gradient(top,  dota-red 0%, #592821 7%, dota-red 100%) /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,dota-red), color-stop(7%,#592821), color-stop(100%,dota-red)) /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  dota-red 0%,#592821 7%,dota-red 100%) /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  dota-red 0%,#592821 7%,dota-red 100%) /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  dota-red 0%,#592821 7%,dota-red 100%) /* IE10+ */
      background: linear-gradient(to bottom,  dota-red 0%,#592821 7%,dota-red 100%) /* W3C */

    &:active
      box-shadow: inset 0 2px 5px 3px rgba(0,0,0,0.3)
      outline: none

    &.donate:hover, &.donate:active
      background: #086304 /* Old browsers */
      background: -moz-linear-gradient(top,  #086304 0%, #318233 7%, #086304 100%) /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#086304), color-stop(7%,#318233), color-stop(100%,#086304)) /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #086304 0%,#318233 7%,#086304 100%) /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #086304 0%,#318233 7%,#086304 100%) /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #086304 0%,#318233 7%,#086304 100%) /* IE10+ */
      background: linear-gradient(to bottom,  #086304 0%,#318233 7%,#086304 100%) /* W3C */
