@import mixins

thumb-width = 70px

.characters
  padding: 5px 10px

  &.bans
    height: 216px

  .character
    float: left
    position: relative
    round-corners(3px, 3px, 3px, 3px)
    margin: 5px 7px
    min-height: thumb-width

    &.dead
      opacity: 0.3

     label
       display: block
       width: thumb-width
       height: thumb-width

       &.default
         background: asset-url('heroes_big.jpg')
         background-position: -28px 0

    .name
      width: thumb-width
      height: 30px
      text-align: center

    .build
      display: none
      position: relative
      float: left
      width: thumb-width
      height: 14px
      line-height: 12px
      text-align: center
      top: 56px

      opacity: 0.8
      background: rgba(0,0,0,0.4)

    &.addable:hover, &.removeable:hover
      cursor: pointer

      &:before
        position: absolute
        width: 100%
        height: 100%
        background: rgba(0,0,0,0.3)
        text-align: center
        line-height: 60px
        font-size: 30px

    &.addable:hover:before
      content: "+"

    &.removeable:hover:before
      content: "-"


label.hero_big
  background: asset-url('heroes_big.jpg')
  background-position: -28px 0
  width: 100%
  height: 100%
  display: block
  box-shadow: inset 0 0 5px 3px rgba(0,0,0,0.7)

  &.ancient-apparition
    background-position: -28px -71px

  &.alchemist
    background-position: -28px -142px

  &.anti-mage
    background-position: -42px -213px

  &.axe
    background-position: -42px -284px

  &.bane
    background-position: -28px -355px

  &.batrider
    background-position: -28px -426px

  &.bristleback
    background-position: -10px -497px

  &.beastmaster
    background-position: -28px -568px

  &.bounty-hunter
    background-position: -22px -639px

  &.brewmaster
    background-position: -28px -710px

  &.broodmother
    background-position: -18px -781px

  &.bloodseeker
    background-position: -38px -852px

  &.centaur-warrunner
    background-position: -28px -923px

  &.chen
    background-position: -28px -994px

  &.chaos-knight
    background-position: -28px -1065px

  &.clinkz
    background-position: -28px -1136px

  &.clockwerk
    background-position: -36px -1207px

  &.crystal-maiden
    background-position: -36px -1278px

  &.dazzle
    background-position: -28px -1349px

  &.undying
    background-position: -18px -1420px

  &.disruptor
    background-position: -28px -1491px

  &.dragon-knight
    background-position: -56px -1562px

  &.doom
    background-position: -28px -1633px

  &.drow-ranger
    background-position: -12px -1704px

  &.dark-seer
    background-position: -28px -1775px

  &.enchantress
    background-position: -28px -1846px

  &.enigma
    background-position: -44px -1917px

  &.earthshaker
    background-position: -28px -1988px

  &.gyrocopter
    background-position: -16px -2059px

  &.huskar
    background-position: -16px -2130px

  &.invoker
    background-position: -28px -2201px

  &.jakiro
    background-position: -28px -2272px

  &.juggernaut
    background-position: -20px -2343px

  &.keeper-of-the-light
    background-position: -8px -2414px

  &.death-prophet
    background-position: -54px -2485px

  &.kunkka
    background-position: -9px -2556px

  &.lone-druid
    background-position: -50px -2627px

  &.wraith-king
    background-position: -18px -2698px

  &.leshrac
    background-position: -44px -2769px

  &.lich
    background-position: -14px -2840px

  &.lina
    background-position: -8px -2911px

  &.lion
    background-position: -34px -2982px

  &.abaddon
    background-position: -28px -3053px

  &.luna
    background-position: -28px -3124px

  &.lycanthrope
    background-position: -38px -3195px

  &.magnus
    background-position: -28px -3266px

  &.medusa
    background-position: -18px -3337px

  &.meepo
    background-position: -42px -3408px

  &.morphling
    background-position: -10px -3479px

  &.nyx-assassin
    background-position: -28px -3550px

  &.naga-siren
    background-position: -4px -3621px

  &.lifestealer
    background-position: -42px -3692px

  &.necrophos
    background-position: -44px -3763px

  &.night-stalker
    background-position: -40px -3834px

  &.outworld-devourer
    background-position: -28px -3905px

  &.ogre-magi
    background-position: -28px -3976px

  &.omniknight
    background-position: -28px -4047px

  &.phantom-assassin
    background-position: -28px -4118px

  &.phantom-lancer
    background-position: -10px -4189px

  &.mirana
    background-position: -28px -4260px

  &.natures-prophet
    background-position: -28px -4331px

  &.puck
    background-position: -54px -4402px

  &.pudge
    background-position: -14px -4473px

  &.pugna
    background-position: -34px -4544px

  &.queen-of-pain
    background-position: -28px -4615px

  &.razor
    background-position: -56px -4686px

  &.shadow-shaman
    background-position: -7px -4757px

  &.riki
    background-position: -48px -4828px

  &.rubick
    background-position: -36px -4899px

  &.spirit-breaker
    background-position: -28px -4970px

  &.shadow-demon
    background-position: -28px -5041px

  &.shadow-fiend
    background-position: -28px -5112px

  &.timbersaw
    background-position: -38px -5183px

  &.silencer
    background-position: -28px -5254px

  &.sand-king
    background-position: -28px -5325px

  &.slardar
    background-position: -28px -5396px

  &.slark
    background-position: -20px -5467px

  &.skywrath-mage
    background-position: -10px -5538px

  &.sniper
    background-position: -22px -5609px

  &.spectre
    background-position: -38px -5680px

  &.storm-spirit
    background-position: -28px -5751px

  &.sven
    background-position: -28px -5822px

  &.templar-assassin
    background-position: -14px -5893px

  &.elder-titan
    background-position: -16px -5964px

  &.tidehunter
    background-position: -8px -6035px

  &.tinker
    background-position: -28px -6106px

  &.tiny
    background-position: -28px -6177px

  &.treant-protector
    background-position: -28px -6248px

  &.troll-warlord
    background-position: -8px -6319px

  &.tusk
    background-position: -12px -6390px

  &.ursa
    background-position: -8px -6461px

  &.venomancer
    background-position: -28px -6532px

  &.viper
    background-position: -40px -6603px

  &.visage
    background-position: -28px -6674px

  &.faceless-void
    background-position: -28px -6745px

  &.vengeful-spirit
    background-position: -28px -6816px

  &.warlock
    background-position: -14px -6887px

  &.witch-doctor
    background-position: -16px -6958px

  &.weaver
    background-position: -40px -7029px

  &.io
    background-position: -14px -7100px

  &.windranger
    background-position: -28px -7171px

  &.zeus
    background-position: -6px -7242px

  &.earth-spirit
    background-position: -28px -7313px

  &.ember-spirit
    background-position: -6px -7384px

  &.legion-commander
    background-position: -10px -7455px

  &.terrorblade
    background-position: -20px -7525px

  &.phoenix
    background-position: -18px -7596px
