dota-red = #450304

transition(property, duration, delay, easing)
  -webkit-transition: property duration delay easing
  -moz-transition: property duration delay easing
  -ms-transition: property duration delay easing
  -o-transition: property duration delay easing
  transition: property duration delay easing

round-corners(tl, tr, bl, br)
  -webkit-border-radius: tl tr bl br
  -moz-border-radius: tl tr bl br
  -ms-border-radius: tl tr bl br
  -o-border-radius: tl tr bl br
  border-radius: tl tr bl br

rotate-elem(deg)
  -webkit-transform:rotate(deg)
  -moz-transform:rotate(deg)
  -ms-transform:rotate(deg)
  transform:rotate(deg)

animation-name(name)
  -moz-animation-name: name
  -webkit-animation-name: name
  animation-name: name

animation-delay(time)
  -moz-animation-delay: time
  -webkit-animation-delay: time
  animation-delay: time

animation-duration(time)
  -moz-animation-duration: time
  -webkit-animation-duration: time
  animation-duration: time

animation-iteration-count(count)
  -moz-animation-iteration-count: count
  -webkit-animation-iteration-count: count
  animation-iteration-count: count


.cf:before, .cf:after
  content: " "
  display: table
.cf:after
  clear: both
.cf
  *zoom: 1