<!DOCTYPE html>
<html>
<head>
  <title>DOTA 2 Pick Wizard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.ico', rel: 'shortcut icon', type: 'image/x-icon' %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-47386813-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</head>
<body>
  <div class="background-wrapper">
    <header>
      <%= image_tag "dota2-logo.png", class: 'logo' %>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="399TTVP4SC796">
        <div class="button-wrapper">
          <%= button_tag "Updates", class: "btn donate updates", type: nil %>
          <%= button_tag "About", class: "btn donate about", type: nil %>
          <%= button_tag "Donate", class: "btn donate" %>
        </div>
      </form>
    </header>

    <main>
    <%= yield %>
    </main>

    <div class="modal-about">
      <span class="close close-about">x</span>
      <p>
        This is an app to help you build viable team compositions in Dota 2.
      </p>
      <p>
        Pick heroes for your team, the enemy team, or banned picks, and choose a laning composition,
        and the system will update recommendations on-the-fly!
      </p>
      <p>
        The algorithm will return the 5 best and worst heroes with regards to your team composition,
        as well as heroes that would fit into the enemy composition that you could ban. It also tells you which roles you
        have filled and which ones your team still lacks.
      </p>
      <p>
        The algorithm uses vector math to try and find
        the hero that will best fit into your current lineup to get the team as
        close as possible to an ideal team composition.
      </p>
      <p>
        Each hero is assigned a vector. For each hero that is still selectable, add that hero to the current team and
        calculate the Team Vector by adding the hero vectors together. The distance of that Team Vector from the Ideal Composition Vector
        gives that hero's score, the lower the better. This means that heroes that take the team closer to the Ideal Vector
        receive better scores.
      </p>
      <p>
        The attributes that the algorithm takes into account are: Attack type (melee or ranged),
        the hero's viability in mid, jungle, and off-lanes, and the different roles that each hero is suited to.
      </p>
      <p>
        If you have questions or concerns, or you found a bug, or maybe you just want to thank me, send an email:
        <a href="mailto:evan.hemsley@gmail.com">evan.hemsley@gmail.com</a>
      </p>
      <p>
        Thanks to Benton Anderson and Alex David for helping me with the linear algebra.
      </p>
      <p>
        Special thanks to Robert Douglas and Kevin Goslar for help with the UI design.
      </p>

      <p>
        (c) Evan Hemsley 2013-2014
      </p>
    </div>

    <div class="modal-updates">
      <span class="close close-updates">x</span>
      <br>
      <h3>Changelog</h3>

      <div class="changelog">
        <p>
          4/14/2014
        </p>
        <ul>
          <li>Multiple roles for each hero are now supported.</li>
          <li>System now recommends heroes based on which role will be most effective.</li>
        </ul>

        <p>
          3/25/2014
        </p>
        <ul>
          <li>Added Terrorblade and Phoenix.</li>
        </ul>
      </div>
    </div>

  </div>
</body>
</html>
